body { 
background-color: #FFFFF0; 
font-family: Arial, Verdana, sans-serif; 
font-size: 18px; 
color: #00008B;
}

table{
	border: 1px solid black; width: 100%;
}
th, td{
	border:1px solid black; text-align: center;
}
